
body {
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(40, 41, 48);
    margin: 0;
    overflow: hidden;
}



#galaxy-home {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}

.circle {
    position: absolute;
    background-color: transparent;
    transition: 3s;
    overflow: hidden;
    border-radius: 50%;
}

.star5px {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    position: absolute;
    transition: 1s;
}