
body {
    font-family: 'Source Sans Pro', sans-serif;
    background: black;
    margin: 0;
}


#galaxy-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

.circle {
    position: absolute;
    background-color: transparent;
    transition: 3s;
    overflow: hidden;
    border-radius: 50%;

}

.star5px {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    transition: 1s;

}